<launch>
  
  
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="infra_fps" value="30"/> <!-- be able increase to 60Hz -->
    <arg name="color_width" value="1280"/>
    <arg name="color_height" value="720"/>
    <arg name="color_fps" value="30"/>
    <arg name="enable_infra1" value="true"/>
    <arg name="enable_infra2" value="true"/>
    <!-- not supported in d415 -->
    <arg name="enable_gyro" value="false"/>
    <arg name="enable_accel" value="false"/>
    <arg name="enable_fisheye" value="false"/>
    <!-- !!!working with errors and freezes!!! -->
    <arg name="enable_depth" value="false"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="camera_imu_broadcaster" args="-0.002794544510761948 -0.0013434649557589775 -0.1114320404686611 -0.0215107 0.717799 -0.6959109 0.0031555 base_link imu 150" />

  <!-- POID -->
  <node pkg="poid_ros_driver" type="poid_node" name="poid_driver" output="screen">
      <remap from="imu/data" to="imu/data_raw"/>
      <param name="device" value="/dev/ttyUSB0"/>
      <param name="frame_id" value="imu"/>
      <param name="calibrate_mag_on_start" value="false"/>
      <param name="calibrate_acc_gyro_on_start" value="false"/>
      <rosparam param="angular_velocity_covariance_diagonal" subst_value="True">[0.0004, 0.0004, 0.0004]</rosparam>
      <rosparam param="linear_acceleration_covariance_diagonal" subst_value="True">[0.0004, 0.0004, 0.0004]</rosparam>
      <rosparam param="orientation_covariance_diagonal" subst_value="True">[0.01745, 0.01745, 0.15708]</rosparam>
  </node>
  <node pkg="imu_transformer" type="imu_transformer_node" name="imu_transformer_node" output="screen">
    <remap from="imu_in/data" to="imu/data_raw"/>
    <remap from="imu_out/data" to="imu/data"/>
    <param name="target_frame" value="base_link"/>
  </node>

</launch>
